<form #f="ngForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit(f)">
  <h2>{{ title }}</h2>
  <p>Хэрэв өөр аргаар нэвтрэх шаардлагатай бол солино уу </p>
  <mat-form-field *ngIf="loginMethod == 'mailPassword'">
    <input type="text"
    matInput
    placeholder="Мэйл хаяг"
    ngModel
    name="email"
    required>
  </mat-form-field>
  <mat-form-field *ngIf="loginMethod == 'mailPassword'">
    <input type="password"
    matInput
    placeholder="Нууц үг"
    ngModel
    name="password"
    required>
  </mat-form-field>
  <mat-form-field *ngIf="loginMethod == 'phone'">
    <input type="number"
    matInput
    placeholder="Утасны дугаар"
    [(ngModel)]="phoneNumber"
    name="phone"
    required>
  </mat-form-field>
  <div id="recaptcha-container" [hidden]="loginMethod != 'phone'"></div>
  <mat-form-field *ngIf="loginMethod == 'phone' && codeSent">
    <input type="text"
    matInput
    placeholder="Баталгаажуулах код"
    [(ngModel)]="smsCode"
    name="code"
    required>
  </mat-form-field>
  <!-- <button id="sign-in-button" type="button" mat-raised-button color="primary" [disabled]="f.invalid">Код илгээ</button> -->
  <br>
  <button mat-raised-button color="primary" [disabled]="f.invalid">Нэвтрэх</button>
  <br>
  <p class="change-method-title">Нэвтрэх арга солих:</p>
  <button type="button" mat-button color="primary" (click)="changeMethod()">{{ methodChangeTitle }}</button>
</form>
