
h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
form {
  margin-top: 20px !important;
  max-width: 400px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.change-method-title {
  margin-bottom: 0;

}
.active {
  background-color: salmon;
}
.notification {
  position: absolute;
  top: 30%;
  left: 50%;
  color: aquamarine;
  max-width: 600px;
  margin: auto;
  transform: translate(-30%, -50%)
}

