<mat-nav-list>
  <a mat-list-item routerLink="/admin" (click)="onClose()" *ngIf="auth.isAdmin">
      <span class="nav-caption">Админ</span>
  </a>
  <a mat-list-item routerLink="/news" (click)="onClose()">
      <span class="nav-caption">Мэдээлэл</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!auth.isAuth">
      <span class="nav-caption">Нэвтрэх</span>
  </a>
  <mat-list-item>
      <button mat-icon-button (click)="onLogout()" *ngIf="auth.isAuth">
      <span class="nav-caption">Гарах</span></button>
  </mat-list-item>

</mat-nav-list>
