<h2 mat-dialog-title>Ангилал нэм</h2>
<mat-dialog-content class="mat-typography">
  <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field class="orderField">
        <input
            type="number"
            matInput
            placeholder="#"
            [(ngModel)]="nextOrder"
            name="order"
            required
            #registryInput="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input
            type="text"
            matInput
            placeholder="Ангилал"
            ngModel
            name="title"
            cdkFocusInitial
            spellcheck="false"
            required
            #nameInput="ngModel">
    </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Цуцал</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="f.invalid" (click)="onSubmit(f)">Нэм</button>
</mat-dialog-actions>
