<h2 mat-dialog-title>Гишүүний бүртгэл</h2>
<mat-dialog-content class="mat-typography">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm">
    <mat-form-field fxFlex>
        <input
            type="number"
            matInput
            placeholder="Дараалал"
            [(ngModel)]="doc.order"
            name="order"
            spellcheck="false"
            required>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input
            type="text"
            matInput
            placeholder="Нэршил"
            [(ngModel)]="doc.title"
            name="title"
            spellcheck="false"
            required>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input
            type="text"
            matInput
            placeholder="Товчлол"
            [(ngModel)]="doc.acronym"
            name="acronym"
            spellcheck="false"
            required>
    </mat-form-field>
    <mat-form-field fxFlex>
        <input
            type="text"
            matInput
            placeholder="Title"
            [(ngModel)]="doc.english"
            name="english"
            spellcheck="false"
            required>
    </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-dialog-close>Цуцал</button>
  <button mat-raised-button color="primary" mat-dialog-close [disabled]="f.invalid" (click)="onSubmit(f)">Зас</button>
</mat-dialog-actions>
