<youtube-player
  [videoId]="event.youtubeId"
  suggestedQuality="highres"
  origin="https://localhost:4200"
  [height]="screenWidth/16*9"
  [width]="screenWidth"
  *ngIf="event && event.youtubeId">
</youtube-player>

<app-event-title></app-event-title>

<img [src]="event.photoURL" class="main-photo"
*ngIf="event && event.photoURL">

<mat-card class="event-info">
  <button class="bttn-edit-info" mat-icon-button color="primary" (click)="showQuillEditor()" *ngIf="auth.isAdmin"><mat-icon>edit</mat-icon></button>
  <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(event.info)" *ngIf="!showEditor && event && event.info"></div>
  <quill-editor
        matInput
        [(ngModel)]="event.info"
        name="richText"
        spellcheck="false"
        trackChanges="all"
        [modules]="modules" *ngIf="showEditor && event && auth.isAdmin"></quill-editor>
</mat-card>
<app-results [hideTitle]="true" *ngIf="event && event.resultAvailable"></app-results>
<br>
<div class="expansion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Фото агшинууд
        </mat-panel-title>
        <mat-panel-description *ngIf="photoCount">
          {{photoCount}} зураг байна
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-event-photos [hideTitle]="true"></app-event-photos>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Видео үзвэрүүд
        </mat-panel-title>
        <mat-panel-description *ngIf="videoCount">
          {{videoCount}} видео байна
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-event-videos></app-event-videos>
    </mat-expansion-panel>
  </mat-accordion>
</div>

