h3 {
  margin-bottom: 0px;
  padding-top: 10px;
  margin-left: 30px;
}
.mat-grid-tile-footer {
  height: 20px !important;
}
.mat-grid-tile {
  cursor: pointer;
}
.img130 {
  height: auto;
  width: 130px;
}
.img150 {
  height: auto;
  width: 150px;
}
.event-info {
  margin-left: 15px;
  margin-right: 15px;
}
.bttn-edit-info {
  float: right;
}
.mat-h4, .mat-subheading-1, .mat-typography h4 {
  margin-bottom: 0px;
}
.note-title {
  text-align: center;
  color: orange;
  padding-bottom: 10px;
}

.verse {
  color: aqua;
}
.excuse {
  color: salmon;
}
.expansion {
  margin-left: 15px;
  margin-right: 15px;
}
.main-photo {
  width: 100%;
  height: auto;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
