.mat-table {
  max-width: 400px;
  min-width: 300px;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.align-right{
  display: flex;
  justify-content: flex-end;
}
.mat-header-row {
  min-height: 30px !important;
}
.mat-row {
  min-height: 20px !important;
}
.mat-column-title {
  flex: 0 0 150px !important;
  width: 150px !important;
}
.mat-header-cell {
  font-size: medium;
}
.threeDots {
  height: 30px;
}
